{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "auto",
  
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],

  "importOrder": [
    "^react",                 
    "^react-router-dom",
    "<THIRD_PARTY_MODULES>",  
    "^@/components/(.*)$",    
    "^@/hooks/(.*)$",         
    "^@/utils/(.*)$",         
    "^@/types/(.*)$",         
    "^@/(.*)$",               
    "^[./]",                  
    ".css$"                   
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
